@import "reset";
@import "variables";
@import "header";
@import "product-card";
@import "nav-list";

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

.page {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: auto;
  column-gap: 48px;
  row-gap: 50px;
  justify-content: center;
  max-width: 1200px;

  &--position {
    margin: 50px auto;
  }
}
