.nav {
  &__list {
    display: grid;
    grid-template-columns: repeat(8, fit-content(300px));
    grid-template-rows: 60px;
    list-style-type: none;
    gap: 20px;
  }

  &__menu-item {
    display: grid;
  }

  &__item-link {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: $font-average;
    font-weight: 500;
    padding: 1.8em 0;
    transition: all 1s;

    &:hover {
      color: $color-blue;
    }

    &--active:active::after {
      content: "";
      background-color: $color-blue;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      border-radius: 8px;
    }
  }
}
